/* Nav.css */
.navbar {
  background-color: #ffffff; /* Navbar 배경색 설정 */
  overflow: hidden;
}

.NavbarMenu {
  float: right;
  display: block;
  color: #000080;
  text-align: center;
  padding: 14px 28px;
  margin-left: 17px;
  font-weight: bold;
  text-decoration: none;
}

.NavbarMenu:hover {
  background-color: #ffffff; /* 올릴 때 배경 변경 */
  color: #0097dc; /* 올릴 때 글자색 변경 */
}
